body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background: #ffffff;
    color: #222;
}

header {
    background: #0038A8;
    padding: 15px 0;
    color: white;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    width: 80px;
}

.hero {
    height: 70vh;
    background: #E8EEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    color: #0038A8;
}

.btn {
    padding: 10px 20px;
    background: #0038A8;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.section {
    padding: 50px 0;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    border: 2px solid #0038A8;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.project {
    height: 180px;
    background: #D3DBFF;
    border-radius: 10px;
}

.contact {
    background: #0038A8;
    color: white;
    padding: 40px 0;
}

footer {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}
img {
    width: 380px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
}